version: '3.8'

services:
  # Servicio de tu aplicación NestJS (Backend)
  cirsubbackend:
    build:
      context: .
      dockerfile: Dockerfile
    image: cirsubbackend-docker
    container_name: cirsubbackend
    restart: always
    ports:
      - "${PORT}:${PORT}" # Expone el puerto de la aplicación
    
    # Carga todas las variables de entorno desde el archivo .env
    env_file:
      - ./.env 
    
    environment:
      REDIS_HOST: redis

    # Asegura que Redis se inicie y esté "sano" antes que cirsubbackend
    depends_on:
      redis:
        condition: service_healthy 

  # Servicio de Redis
  redis:
    image: redis:latest
    container_name: cirsubbackend-redis
    restart: always
    environment: # Pasa la contraseña de Redis como variable de entorno
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    command: redis-server --appendonly yes ${REDIS_PASSWORD:+--requirepass "$REDIS_PASSWORD"} # Establece la contraseña y persistencia AOF, solo si REDIS_PASSWORD no está vacío
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"
    healthcheck: # Healthcheck para Redis
      test: ["CMD", "redis-cli", "--raw", "GET", "healthcheck"] # Un simple test de salud
      interval: 5s
      timeout: 5s
      retries: 5

# Definición de volúmenes para persistencia de datos
volumes:
  redis_data: